* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

input,
button {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.center {
  padding-left: calc(50% - 660px);
  padding-right: calc(50% - 660px);
}

.background_color {
  background: #000915;
}

.top {
  background-image: url(./img/backgraund.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1024px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}
.top__title {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 217px;
  padding-bottom: 32px;
  max-width: 747px;
}
.top__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  padding-bottom: 44px;
  max-width: 440px;
}
.top__text_bold {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.top__link {
  border-radius: 30px;
  background: #9C0332;
  display: inline-block;
  color: #fff;
  padding: 13px 74px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.top__link:hover {
  background: #EB443F;
}

.main {
  background: #000915;
  padding-bottom: 361px;
}
.main__gamebox {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-top: 128px;
}
.main__gamebox_link {
  position: relative;
}
.main__gamebox_text {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  left: 32px;
  bottom: 32px;
}

.seasons {
  background-color: #000915;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 135px;
  padding-bottom: 472px;
}
.seasons__box {
  width: 425px;
}
.seasons__box_title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 32px;
}
.seasons__box_text {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  padding-bottom: 32px;
}

@media (max-width: 424px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(./img/bg_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .top__title {
    width: 343px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
  .top__text {
    width: 313px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
  }
  .top__text_bold {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }
  .top__link {
    width: 234px;
    height: 48px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .main {
    padding-bottom: 178px;
  }
  .main__gamebox {
    display: flex;
    flex-direction: column;
  }
  .main__gamebox_pic {
    width: 343px;
  }
  .seasons {
    padding-bottom: 136px;
    gap: 64px;
  }
  .seasons__box {
    width: 584px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .seasons__box_title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .seasons__box_text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
  }
  .seasons__imgbox_img {
    width: 340px;
  }
  .second__img_box {
    order: 2;
  }
  .second__text_box {
    order: 1;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    background-image: url(./img/backgraund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
  }
  .top__title {
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 217px;
    padding-bottom: 32px;
    text-align: center;
  }
  .top__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 44px;
    text-align: center;
  }
  .top__text_bold {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
  .top__link {
    border-radius: 30px;
    background: #9C0332;
    display: inline-block;
    color: #fff;
    padding: 13px 74px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .top__link:hover {
    background: #EB443F;
  }
  .main {
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 178px;
  }
  .main__gamebox {
    display: flex;
    flex-direction: column;
  }
  .main__gamebox_pic {
    width: 374px;
  }
  .seasons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 64px;
    padding-bottom: 136px;
  }
  .seasons__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 64px;
  }
  .seasons__box_title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
  .seasons__box_text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    text-align: center;
  }
  .seasons__imgbox_img {
    width: 390px;
  }
  .seasons .second__img_box {
    order: 2;
  }
  .seasons .second__text_box {
    order: 1;
  }
}/*# sourceMappingURL=style.css.map */